name: Docker Build and Push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Extract version from go.mod
      id: get-version
      run: |
        VERSION=$(grep -oP 'github\.com/banbox/banbot\s+v?\K[0-9]+\.[0-9]+\.[0-9]+' go.mod)
        if [ -n "$VERSION" ]; then
          echo "version=${VERSION}" >> $GITHUB_OUTPUT
        else
          echo "version=latest" >> $GITHUB_OUTPUT
        fi
      shell: bash

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: |
          banbot/banbot:latest
          banbot/banbot:${{ steps.get-version.outputs.version }}
        no-cache: true
